{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'parusarium/css/about.css' %}">
{% endblock %}


{% block main %}
<div class="label_title">О проекте</div>
<div class="label">
    <div class="label_text">
        <p>Платформа Анализа, Расчета и Управления Cтоимостью создана в целях формирования разностороннего инструментария, направленного на повышение качества оценочных услуг.</p>

        <span class="weight_text"><p>Основной целевой аудиторией Платформы являются:</p></span>
        <ul>
            <li>сотрудники государственных бюджетных учреждений, уполномоченных на определение кадастровой стоимости;</li>
            <li>Оценщики и судебные эксперты;</li>
            <li>сотрудники корпоративных заказчиков, в обязанность которых входит контроль качества результатов определения стоимости.</li>
        </ul>
        <div class="block_bottom">
            <p>Контакты – ООО <a href="http://expertsovet.com/">«Экспертный совет»:</a></p>
            <p>109028, г. Москва, Хохловский пер., д.13, стр. 1;</p>
            <p>8 (495) 626-29-52;</p>
            <p>mail@expertsovet.com;</p>
            <p>контактное лицо – Ильин Максим Олегович.</p>
            <p>Методическая и информационная поддержка - <a href="https://srosovet.ru/">Ассоциация “СРО оценщиков “Экспертный совет”</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
