{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'parusarium/css/index.css' %}">

{% endblock %}

{% block main %}
    <div class="label">
        <div class="label_title">Система ПАРУС</div>
        <div class="label_text">
            Платформа Анализа, Расчета и Установления Стоимости создана в целях формирования разностороннего
            инструментария, направленного на повышение качества оценочных услуг.

            В настоящий момент времени Платформа проходит стадию практической апробации, в ограниченном
            режиме предоставляется следующий функционал:
            <ul>
                <li>сбор информации по объектам-аналогам – источниками являются крупнейшие федеральные,
                    а также ряд региональных интернет-площадок;</li>
                <li>первичная обработка информации по объектам аналогам – автоматический и полуавтоматический
                    отсев аналогов, информация по которым не удовлетворяет заданным критериям качества,
                    фильтрация по заданным критериям, преобразование форматов данных для последующих
                    автоматизированных расчетов и использования при подготовке документов;</li>
                <li>предоставление информации из проектов отчетов об определении кадастровой стоимости
                    – по кадастровому номеру объекта недвижимости выдается ключевая информация, необходимой
                    для налогового планирования и принятия решения о целесообразности оспаривания результатов
                    определения кадастровой стоимости.</li>
            </ul>
            Для получения доступа к ресурсам Платформы свяжитесь с администраторами.
        </div>
    </div>
    <a href="/admin" class="no_link records_link"><div class="records">Перейти к подбору</div></a>

{% endblock %}
